

/* Global */

/* 
    cb -> chat-box
    bc -> box-chat

*/



*
{
    padding: 0;
    margin: 0;
}

body
{
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Archivo', sans-serif !important;
}

.photo-circle
{
    position: relative;
    border-radius: 50%;
}


/* Navbar */

.nav-menu.navbar
{
    background-color: #fff;
    border-bottom: solid 0.1px #c4c4c4;
    -webkit-box-shadow: 0px 13px 23px -9px rgba(0,0,0,0.02);
    -moz-box-shadow: 0px 13px 23px -9px rgba(0,0,0,0.02);
    box-shadow: 0px 13px 23px -9px rgba(0,0,0,0.02);
}


/* Content center */

.shadow-bc
{
    -webkit-box-shadow: 0px 5px 34px -8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 34px -8px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 34px -8px rgba(0,0,0,0.15);
}

.margin-top-cb
{
    margin-top: 1.5rem;
}

.chat
{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    padding: 2rem;
    padding-bottom: 10rem;
}

.chat-box-left
{
    position: relative;
    max-width: 33rem;
    min-height: 60px;
    background-color: #E8E8E8;
    padding: 0.8rem;
    z-index: 100;
    margin-left: 30px;
    float: left;
    font-size: 1rem;
    font-weight: 400;
}

.chat-box-left::before
{
    position: absolute;
    content: " ";
    border-width: 27px;
    border-style: solid;
    border-color: transparent transparent #E8E8E8 transparent;
    left: -26px;
    bottom: 0;
    z-index: 88;
    transform: rotate(-10deg)
}

.chat-box-right
{
    position: relative;
    max-width: 33rem;
    min-height: 30px;
    background-color: hsl(203,89%,90%);
    padding: 0.8rem;
    z-index: 100;
    float: right;
    margin-right: 30px;
    color: #2B5CFF;
    font-size: 1rem;
    font-weight: 400;
}

.chat-box-right::before
{
    position: absolute;
    content: " ";
    border-width: 27px;
    border-style: solid;
    border-color: transparent transparent hsl(203,89%,90%) transparent;
    right: -26px;
    bottom: 0;
    z-index: 88;
    transform: rotate(10deg);
}

.chat-box-right p, .chat-box-left p
{
    margin: 0;
}

.photo-cb
{
    width: 100px;
    height: 100px;
    overflow: hidden;
}


/* Chat board bottom center-content */

.chat-board
{
    position: fixed;
    width: 75%;
    bottom: 2px;
    right: 0;
    z-index: 200;
    background-color: rgba(255,255,255,0.80);
    padding: 1rem;
}

.chat-board .input-group-prepend .input-group-text
{
    background-color: transparent;
    border: none;
}

.chat-board .input-group .form-control
{
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #C3C3C3;
    background-color: transparent;
    font-size: 1.3rem;
    font-weight: 400;
    color: #C3C3C3;
}

.chat-board .input-group .form-control:focus
{
    border-bottom: solid 1px #282828;
    color: #282828;
}

.chat-board .input-group-text i
{
    font-size: 1.5rem;
}

.chat-board .input-group-text p
{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}